<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>WebMIDIAPIShim</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- polyfill -->
    <script src="/MIDI/inc/shim/Base64.js" type="text/javascript"></script>
    <script src="/MIDI/inc/shim/Base64binary.js" type="text/javascript"></script>
    <script src="/MIDI/inc/shim/WebAudioAPI.js" type="text/javascript"></script>
    <!-- midi.js package -->
    <script src="/MIDI/js/midi/audioDetect.js" type="text/javascript"></script>
    <script src="/MIDI/js/midi/gm.js" type="text/javascript"></script>
    <script src="/MIDI/js/midi/loader.js" type="text/javascript"></script>
    <script src="/MIDI/js/midi/plugin.audiotag.js" type="text/javascript"></script>
    <script src="/MIDI/js/midi/plugin.webaudio.js" type="text/javascript"></script>
    <script src="/MIDI/js/midi/plugin.webmidi.js" type="text/javascript"></script>
    <!-- utils -->
    <script src="/MIDI/js/util/dom_request_xhr.js" type="text/javascript"></script>
    <script src="/MIDI/js/util/dom_request_script.js" type="text/javascript"></script>
    <script src = "/socket.io/socket.io.js"></script>
    <script>

      var socket = io();
      socket.on("change",function() {
          location.reload();
      })
    </script>
    <script src="/WebMIDIAPIShim/lib/WebMIDIAPI.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/prism.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body ng-app="pianojs">
    <div ng-controller="devicesController">
      <h2>MIDI inputs</h2>
      <table id= "midi-inputs">
        <tr ng-repeat="input in inputs">
          <label>
            <input type="checkbox"
                   ng-model="input.active"
                   ng-change="checkboxChange">
            {{input.name}} ({{input.state}} , {{input.connection}})
          </label>
        </tr>
      </table>
    </div>
    <div id="container" class="cf">
      <div id="inputs"></div>
    </div>
    <h2>File Management</h2>
    <table ng-controller="fileController" id="controls">
      <tr >
        <td>filename:</td>
        <td><input ng-model="filename"></td>
        <td>
          <button ng-click="saveFile(filename)"> save </button>
        </td>
      </tr>
      <tr>
        <td ng-repeat="file in files">
          <span ng-click="useModel"></span>
        </td>
      </tr>
    </table>
    <h2>Model Player Controls</h2>
    <table ng-controller="playerController">
      <tr>
        <td>
          <button ng-click="playInfinite()">play</button>
        </td>
        <td>
          <button ng-click="stopPlay()">stop</button>
        </td>
      </tr>
      <tr>
        <td> note count:</td>
        <td><input ng-model="noteCount"></td>
        <td><button ng-click="playLimited(lim)">play x notes</button> </td>
      </tr>
    </table>
    <h2>Model Generator Controls</h2>
  </body>
</html>
